header {
  width: 100%;
  border-bottom: $main-border;
  padding: $container-padding;
  background-color: $white;

  .greeting {
    max-width: $content-max-width;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-family: $logo-font;
    font-weight: bold;
    color: $logo-color;

    h1 {
      margin: 0;
    }
  }

  .nav {
    a {
      padding: 13px 5px;
    }

    a:hover {
      border-bottom: 2px solid $black;
    }

    a {
      border-bottom: 2px solid transparent;
    }

    .username {
      display: none;
    }
  }
}

@media all and (min-width: 450px) {
  header {
    .nav {
      .username {
        display: inline;
      }
    }
  }
}