button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: $body-font;
  font-size: $base-font-size;
  font-weight: 400;
  box-sizing: border-box;
  color: $black;
  text-align: left;
}

main {
  max-width: $content-max-width;
  margin: 15px auto;
}

h1 {
  font-size: $h1-font-size;
  font-weight: 700;
  margin-bottom: 15px;
}

h2 {
  font-weight: 700;
  color: $gray;
  margin-bottom: 5px;
}

form {
  background-color: $white;
  border-radius: 6px;
  width: 90%;
  padding: 32px;
  margin: auto;

  label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $gray;
    font-size: $small-font-size;
  }

  input {
    display: block;
    border-radius: 4px;
  }

  input[type="text"], input[type="password"], input[type="number"] {
    margin: 5px 0 20px 0;
    padding: 5px;
    border: $main-border;
    font-size: $large-font-size;
  }

  input[type="text"], input[type="password"] {
    width: 100%;
  }

  input[type="number"] {
    width: 150px;
    -moz-appearance: textfield;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  input[type="submit"] {
    background-color: $logo-color;
    padding: 10px 15px;
    color: $white;
    font-weight: 700;
    float: right;
    cursor: pointer;
  }

  input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  label[for="file"] {
    cursor: pointer;
    border: $main-border;
    padding: 10px 15px;
    border-radius: 4px;
    margin: 5px 0 20px 0;
    width: 150px;
  }
}

select {
  border: $main-border;
  font-size: $base-font-size;
  padding: 5px;
  border-radius: 4px;
  width: 150px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.errors {
  margin: 15px 0;
  font-size: $small-font-size;
  color: $gray;
}

.background-modal {
  position: absolute;
  background-image: url("https://images.unsplash.com/photo-1449885381849-88def7e55fa0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1214&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 5%;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.back-link {
  color: $logo-color;
  font-size: 14px;
  display: block;
  position: relative;
  top: -10px;
}

.clear-fix::after {
  content: '';
  display: block;
  clear: both;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $black;
}

@media all and (min-width: 450px) {
  form {
    width: 400px;
    margin: 0 30px;
  }
}
