$logo-font: 'Poiret One', Helvetica, Arial, sans-serif;
$body-font: 'Lato', Helvetica, Arial, sans-serif;

$base-font-size: 16px;
$h1-font-size: 32px;
$small-font-size: 14px;
$large-font-size: 20px;
$largest-font-size: 48px;

$black: #3C3C3C;
$gray: #686868;
$logo-color: #FF5A5F;
$white: #FFFFFF;

$main-border: 1px solid #E4E4E4;

$content-max-width: 1200px;

$container-padding: 5px 15px;
